
        <div class="span9">
          <div class="hero-unit">
              <p>
                Mist is an internet connected irrigation controller that learns the ideal schedule for irrigating an environment.  You install the Mist hardware in your environment, it connects to the internet, and you communicate with it through our mobile iOS application.  Every once in awhile you tell the Mist controller whether it's irrigating too much or too little and it will quickly learn the optimal amount of water to deliver through its sophisticated machine learning algorithms.
                </p>
                <p> 
                Mist is being developed by Michael Akilian, Matthew Halpern, Nathan Thai, Michael Graczyk, and Tim Gao at the University of Texas at Austin. 
                </p>
            </div>
          </div>
