<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <style>
      body { padding-top: 60px; /* 60px to make the container go all the way
      to the bottom of the topbar */ }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
    <style>
      undefined
    </style>
  </head>
  
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
          </a>
          <a class="brand" href="#">
            Mist
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              <li>
                <a href="#">
                  Home
                </a>
              </li>
              <li>
                <a href="#">
                  About
                </a>
              </li>
              <li>
                <a href="#">
                  Contact
                </a>
              </li>
            </ul>
          </div>
          <form class="navbar-form pull-right" method='get' action='/user'>
            <input name="userid" type="email" placeholder="Email" class="span2">
            <input name="password" type="password" placeholder="Password" class="span2">
            <button class="btn">
              Sign in
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav">
              <li>
                <a href="./station">
                  Stations
                </a>
              </li>
              <li>
                <a href="./device">
                  Devices
                </a>
              </li>
              <li>
                <a href="./user">
                  Users
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="span9">
          <div class="hero-unit">
            <div>
              <h1>
                Mist 
              </h1>
              <p>
                The Learning Irrigation Controller
              </p>
            </div>
            <a class="btn btn-primary" href="#">
              Learn more »
            </a>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <div>
                <h2>
                  Real-time Weather Updates
                </h2>
                <p>
                  Never water during a rainstorm again.  Mist connects to the internet and other sensor networks to dynamically adjust watering times to save water.
                </p>
              </div>
              <a class="btn" href="#">
                View details »
              </a>
            </div>
            <div class="span4">
              <div>
                <h2>
                  Control from anywhere
                </h2>
                <p>
                  iOS, Android, and from the web.  Take your yard with you in your pocket.
                </p>
              </div>
              <a class="btn" href="#">
                View details »
              </a>
            </div>
            <div class="span4">
              <div>
                <h2>
                  Save water, smarter scheduling
                </h2>
                <p>
                  Intelligent scheduling to minimie run-off and overall more efficient watering.
                </p>
              </div>
              <a class="btn" href="#">
                View details »
              </a>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <div>
                <h2>
                  Programs itself
                </h2>
                <p>
                  Mist learns about your yard and geography and how you like to keep your lawn watered.
                </p>
              </div>
              <a class="btn" href="#">
                View details »
              </a>
            </div>
            <div class="span4">
              <div>
                <h2>
                  Crafted to look beautiful in your home
                </h2>
                <p>
                  Beautiful materials, and engineered to last.  Controllers shouldn't be hideous.
                </p>
              </div>
              <a class="btn" href="#">
                View details »
              </a>
            </div>
            <div class="span4">
              <div>
                <h2>
                  Not your everyday controller
                </h2>
                <p>
                  Something smart....
                </p>
              </div>
              <a class="btn" href="#">
                View details »
              </a>
            </div>
          </div>
          <hr>
          <div>
            © Company 2012
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script src="/static/js/bootstrap.js">
    </script>
  </body>

</html>
