
        <div class="span9">
          <div class="hero-unit">
            <div>
              <h1>
                Mist 
              </h1>
              <p>
                The Learning Irrigation Controller
              </p>
            </div>
            <a class="btn btn-primary" href="#">
              Learn more »
            </a>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <div>
                <h2>
                  Real-time Weather Updates
                </h2>
                <p>
                  Never water during a rainstorm again.  Mist connects to the internet and other sensor networks to dynamically adjust watering times to save water.
                </p>
              </div>
              <a class="btn" href="#">
                View details »
              </a>
            </div>
            <div class="span4">
              <div>
                <h2>
                  Control from anywhere
                </h2>
                <p>
                  iOS, Android, and from the web.  Take your yard with you in your pocket.
                </p>
              </div>
              <a class="btn" href="#">
                View details »
              </a>
            </div>
            <div class="span4">
              <div>
                <h2>
                  Save water, smarter scheduling
                </h2>
                <p>
                  Intelligent scheduling to minimie run-off and overall more efficient watering.
                </p>
              </div>
              <a class="btn" href="#">
                View details »
              </a>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <div>
                <h2>
                  Programs itself
                </h2>
                <p>
                  Mist learns about your yard and geography and how you like to keep your lawn watered.
                </p>
              </div>
              <a class="btn" href="#">
                View details »
              </a>
            </div>
            <div class="span4">
              <div>
                <h2>
                  Crafted to look beautiful in your home
                </h2>
                <p>
                  Beautiful materials, and engineered to last.  Controllers shouldn't be hideous.
                </p>
              </div>
              <a class="btn" href="#">
                View details »
              </a>
            </div>
            <div class="span4">
              <div>
                <h2>
                  Not your everyday controller
                </h2>
                <p>
                  Something smart....
                </p>
              </div>
              <a class="btn" href="#">
                View details »
              </a>
            </div>
          </div>
         